# Rstudio files
.Rproj.user
.Rhistory
RMarkDown/week1/week1_files/
RMarkDown/week2/week2_files/
RMarkDown/*/*
RMarkDown/*/*.docx
RMarkDown/*/*.tex
!RMarkDown/week1/*.pdf
!RMarkDown/week1/*.Rmd
RMarkDown/*/*.html
